* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* navbar */

.main-header{
  background: #5858d3;
  color: #fff;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
ul {
  display: flex;
  flex:  1 1 40rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #Fff;
  font-size: 1.5rem;
}

#logo {
  flex: 1 1 40rem;
  font-size: 2rem;
}



/* showcase */

.showcase {
  height: 90vh;
  background:linear-gradient(rgba(0,0,0,0.5),transparent), url('./img/landing-page.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat ;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.showcase h2 {
  padding: 1rem;
  font-size: 4rem;
  font-weight: 500;
}

.showcase h3 {
  font-size: 2rem;
  font-weight: 400;
}

.showcase .btn {
  display: block;
  background: none;
  border: none;
  color: #fff;
  margin-top: 2rem;
  background:  #5858d3;
  padding: 1rem 2rem;
  border-radius: 5rem;
  cursor: pointer;

}

/* mobile */
@media screen and (max-width:932px)
{

  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
    padding-bottom: 1rem;
  }

  #logo {
    padding: 1rem;
  }
}


/* locations section */

#locations {
  height: 100vh;
  background:linear-gradient(rgba(0,0,0,0.5),transparent) ,url('./img/new-york-page.png') no-repeat center center/cover;
  color: #fff;
  display: flex;
 align-items: center;
 position: relative;
 overflow: hidden;

}

.locations {
width: 90%;
margin: auto;
background: rgba(0,0,0,0.3);
padding: 1rem;
font-size: 1.5rem;
font-weight: normal;
}

.locations h2 {
  font-size:3rem;
  text-decoration: underline;
  padding: 1rem 0;
  text-decoration-thickness:0.5rem;
}

.locations h3 {
  padding: 2rem 0;
}

.cloud{
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
}

.moving-1
{
animation: cloudMoving 10s infinite alternate ease-in-out;
}

.moving-2 {
  top: 20%;
  z-index: -3;
  opacity: 0.5;
}

@keyframes cloudMoving
{
from {
 transform: translate(10%,-10%);
}to {
  transform: translate(0%,0%);

}
}